.header{
    height: 300px;
    background-image: url('grandma2.jpg');
    background-repeat: no-repeat;
     background-size: cover;
}
h3{
    font-size: 40px;
    text-decoration: overline;
}
.blog{
    box-shadow: 10px 10px 5px grey;
   
}